<h1 class="text-center">Products List</h1>
<div class="container text-center">
	<table class="table table-bordered text-left">
	  <tr>
	  	<th class="active">Name</th>
	  	<th class="active">Price</th>
	  	<th class="active">Brand</th>
	  	<th class="active"></th>
	  </tr>
	  <% @products.each do |product|%>
	  	<tr>
	  		<td><%= product.name %></td>
	  		<td><%= product.price %></td>
	  		<td><%= product.brand %></td>
	  		<td class="text-center">
	  			<a href="/remove/<%= product.id %>">Remove</a>
	  			<a href="/show/<%= product.id %>">Details</a>
	  			<a href="/edit/<%= product.id %>">Edit</a>
	  		</td>
	  	</tr>

	  <% end %>

	</table>
	<!-- <a href="/new"><button class="btn btn-default">Add new</button></a> -->
	<form action="/new" method="post" class="form-inline">
		<input  type="text" name="name" placeholder="Name" class="form-control">
		<input  type="text" name="price" placeholder="Price" class="form-control">
		<input  type="text" name="brand" placeholder="Brand" class="form-control">
		<textarea name="details" rows="2" cols="50" placeholder="Details" class="form-control"></textarea> 
		<button class="btn btn-default">Add new</button>
	</form>
	<h1></h1>
</div>
